services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: odoo
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    volumes:
      - dbdata:/var/lib/postgresql/data
      - ./addons:/mnt/extra-addons
      - ./external-addons/OCA-payroll:/mnt/extra-addons/OCA-payroll

  odoo:
    image: odoo:18.0
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - ./addons:/mnt/extra-addons
      - ./external-addons/OCA-payroll:/mnt/oca-payroll   # â† mount your fork here
    command: >
      odoo --db_host=db --db_user=odoo --db_password=odoo
      --addons-path=/usr/lib/python3/dist-packages/odoo/addons,/var/lib/odoo/addons/18.0,/mnt/extra-addons,/mnt/oca-payroll
volumes:
  dbdata:
